{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container my-3 w-50">
    <h2>Login here</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <legend>Pls Enter Your information correctly</legend>
        {{form|crispy}}
        <button class="btn btn-info" type="submit">Login</button>
        <div>
            <small class="text-muted">Dont have an account? <a href="{% url 'signup' %}">signup</a> </small>
        </div>
    </form>
</div>
{% endblock %}